{{ 'flickity.css' | asset_url | stylesheet_tag }}
{{ 'flickity.pkgd.min.js' | asset_url | script_tag }}
{{ 'components.flickity.css' | asset_url | stylesheet_tag }}
<div class="carousel">
  {%- for block in section.blocks -%}
      <div class="carousel-cell">
          {%- if block.type == 'image' -%}
              {%- unless block.settings.image == blank %}
                  {{ block.settings.image | image_url: width: block.settings.image.width | image_tag:
                      width: block.settings.image.width,
                      height: block.settings.image.height,
                      alt: block.settings.image.alt,
                      loading: 'lazy',
                      sizes: '100vw'
                  }}
              {%- endunless -%}
          {%- endif -%}
          {%- if block.type == 'video' -%}
            {%- unless block.settings.video == blank %}
                    <video width="800" height="540" controls>
                      <source src="{{ block.settings.video }}" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
            {%- endunless -%}
          {%- endif -%}
      </div>
  {%- endfor -%}
</div>
{%- if section.settings.autoplay %}
{%- assign autoplaysec = section.settings.autoplaysec | times: 1000 -%}
{%- else -%}
{%- assign autoplaysec = false -%}
{%- endif -%}
<script>
var vid = document.querySelector(".carousel .carousel-cell video");
var flkty = new Flickity( '.carousel', {
  cellAlign: 'left',
  contain: true,
  autoPlay: {{ autoplaysec }},
  pageDots: {{ section.settings.enabledbulletnav }},
  prevNextButtons: {{ section.settings.enabledarrownav }},
  on: {
    change: function( el,index ) {
      if(Number(el) == 1) {
        vid.play();
      } else {
        vid.pause();
      }
    }
  }
});
</script>
{% schema %}
{
  "name": "Flickity Slideshow",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Slide Autoplay",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplaysec",
      "label": "Autoplay in seconds",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "enabledbulletnav",
      "label": "Enabled bullet navigation",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enabledarrownav",
      "label": "Enabled arrow navigation",
      "default": true
    }

  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image Slide"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "url",
          "id": "video",
          "label": "Video Slide"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Flickity Slideshow",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "video"
        }
      ]
    }
  ]
}
{% endschema %}
